<header class="site-header">
  <div class="section typeset">
    <div class="single-measure">
      <h1>NodeSchool Landshut</h1>
      <p>Open source workshops that teach web software skills.</p>
      <img alt="nodeschool-Landshut-logo" title="NodeSchool Landshut Logo" src="{{ "/images/nodeschool-Landshut-logo.svg" | prepend: site.baseurl }}" class="logo" />
      <p class="lead">Our next Nodeschool in Landshut takes place on the 9th of January 2020. <a href="https://www.meetup.com/de-DE/nodeschool-Landshut/">Join us here!</a></p>
    </div>
  </div>
</header>
